* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #ffaa44;
    padding: 0 10px;
}

header {
    width: 100%;
    height: 10vh;
    margin: 0 0 5vh 0;
    background-color: #bbbbff;
    text-align: center;
    color: #000000;
}

#content {
    margin: 0 auto;
    min-width: 300px;
    max-width: 600px;
    padding: 0 10px 0 10px;
    height: 100vh;
    background-color: #ffbbbb;
    -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.3);
}

#bottom_button {
    min-width: 300px;
    max-width: 600px;
    background-color: #ffff88;
}

#today {
    height: 40vh;
    width: 100%;
    background-color: #bbffbb;
    margin: 0 auto;
}

#tomorrow {
    float: left;
    height: 40vh;
    width: 50%;
    background-color: #ff7777;
}

#progress {
    float: right;
    height: 40vh;
    width: 50%;
    background-color: #77ff77;
}
