* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #87a1c6;
    padding: 2vh;
    font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
}

header {
    width: 100%;
    height: 10vh;
    margin: 0 0 0 0;
    background-color: #233e83;
    text-align: center;
    color: #000000;
    border-radius: 2vh 2vh 0 0;
}

header a {
    display: block;
    height: 8vh;
    width: 16vh;
    background-color: #87a1c6;
    margin: 1vh 5vh 1vh 5vh;
    border-radius: 2vh;
}

header img {
    display: block;
    margin: 0 auto 0;
}

#profile {
    float: right;
}

#settings {
    float: left;
}

#content {
    margin: 0 auto;
    min-width: 500px;
    max-width: 900px;
    height: 96vh;
    background-color: #ffffff;
    border-radius: 2vh;
}

#content img {
    display: block;
    margin: 10% auto 0;
    height: 60%;
}

#content h1 {
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 2em;
}

#pane {
    height: 76vh;
    width: 100%;
    background-color: #ffffff; 
}

#pane a {
    float: left;
    width: 50%;
    height: 38vh;
    display: block;
    text-decoration: none;
}

#pane a:hover {
    background-color: #00ffff;
}

#footer {
    height: 10vh;
    width: 100%;
    border-radius: 0 0 2vh 2vh;
}
