* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #2F2933;
    /*padding: 2vh;*/
    font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    margin: 0 0 0 0;
    background-color: #01A2A6;
    text-align: center;
    color: #000000;
    z-index: 10000;
    /*border-radius: 2vh 2vh 0 0;*/
}

header a {
    display: block;
    height: 8vh;
    width: 8vh;
    background-color: #29D9C2;
    margin: 1vh 2vh 1vh 2vh;
    border-radius: 2vh;
}

header a:hover {
    background-color: #2FFFDC;
}

header img {
    display: block;
    height: 70%;
    margin: 15% auto;
}

#profile {
    float: right;
}

#settings {
    float: left;
}

#logo {
    height: 8vh;
    width: 50vh;
    background-color: #09ff8f;
    margin: 1vh auto;
}

#homebutton {
    margin: 2vh 2vh;
    float: left;
    display: block;
    height: 6vh;
    width: 6vh;
    background-color: #00ffff;
    line-height: 6vh;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
}

#content {
    position: static;
    margin: 0 auto;
    min-width: 500px;
    max-width: 900px;
    height: 96vh;
    background-color: #FFFFFF;
    border-radius: 2vh;
}

.button img {
    display: block;
    margin: 10% auto 0;
    height: 60%;
}

#topbar img {
    height: 8vh;
}

#content h1 {
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 2em;
}

#content h2 {
    margin: 4vh 0 0 0;
    text-align: center;
    font-size: 1.8em;
}

.select_wrapper {
    margin: 0 auto;
    text-align: center;
}

.select_wrapper select {
    height: 8vh;
    width: 80%;
    font-size: 1.8em;
}

#pane {
    padding: 10vh 0 10vh 0;
    min-height: 80vh;
    width: 100%;
    background-color: #ffffff; 
}

#goals {
    margin: 4vh auto;
    width: 90%;
    font-size: 2em;
}

.goal {
    display: inline-block;
    width: 80%;
    text-align: center;
}

input[type=checkbox] {
    margin: 0 0 0 0;
    padding: 0 0 100px 0;
  /* All browsers except webkit*/
  transform: scale(2);

  /* Webkit browsers*/
  -webkit-transform: scale(3);
}

#submit-wrapper {
    margin: 5vh 0 0 0;
    height: 10vh;
    width: 100%;
    text-align: center;
}

input[type=submit] {
    height: 10vh;
    width: 40vh;
    background-color: #ffaaee;
}

.button {
    float: left;
    width: 50%;
    height: 38vh;
    display: block;
    text-decoration: none;
}

.button:hover {
    background-color: #BDF271;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    /*border-radius: 0 0 2vh 2vh;*/
    z-index: 10000;
    background-color: #01A2A6;
}

/* Dropdown button on hover & focus 
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}